body {
    --admonition-font-size: 1rem;
    --admonition-title-font-size: 1rem;
}

details {
    margin: 2em 0 2.5em 0;
    /* background-color: rgb(32, 32, 32); */
    background-color: var(--color-code-background);
    
}

details summary{
    font-size: 18pt; 
    margin-left: 10px;
}

details .docutils.container{
    padding: 15px;
    max-width: 96.5%;
}

details summary:hover{
    color: #368ce2;
}

details pre{
    margin-bottom: 1em;
}

details .highlight{
    background: var(--color-background-primary) !important;
    max-width: 96.5%;
}

details .tab-content.docutils.container {
    background: var(--color-background-primary);
}

img {
    margin-top: 1em;
    margin-bottom: 2em !important;
}

img.align-middle {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    display:block;
}
 /* the margin zone */

.tab-set {
    margin-top: 1.5em;
    margin-bottom: 2.0em;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p, p+p {
    margin-top: 1.5rem;
}

p {
    margin-bottom: 1.0rem;
}

.admonition {
    margin: 2.5rem auto;
}


