<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/python/">Python</a>
    <a href="/r/">R</a>
    <div class="subnav" >
        <button onclick="subNav('shellSub', this)" class="subnavbtn" id="shellbutton">Unix Shell <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content" id="shellSub">
            <a href="/shell">the shell</a>
            <a href="/shell/shell-start/">get started</a>
            <a href="/shell/shell-1">lesson 1</a>
            <a href="/shell/shell-2">lesson 2</a>
            <a href="/shell/shell-3">lesson 3</a>
            <a href="/shell/shell-4">lesson 4</a>
            <a href="/shell/shell-5">lesson 5</a>
            <a href="/shell/shell-6">lesson 6</a>
        </div>
    </div> 
    <div class="subnav" >
        <button onclick="subNav('gitSub', this)" class="subnavbtn" id="gitbutton">Git <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content" id="gitSub">
            <a href="/git">git</a>
            <a href="/git/setup-install/">setup & install</a>
            <a href="/git/quick-start/">quick start</a>
            <a href="/git/pushing/">pushing</a>
            <a href="/git/fetch-merge/">fetch & merge</a>
            <a href="/git/git-3">lesson 3</a>
            <a href="/git/git-4">lesson 4</a>
            <a href="/git/glossary/">glossary</a>
        </div>
    </div> 
    <a href="javascript:void(0);" class="icon" onclick="reactiveNav()" id="hamburger">
        <i class="fa fa-bars"></i>
    </a>
</div>