---
---

@import "{{ site.theme }}";
@import "bootstrap/bootstrap";
@import url("https://use.typekit.net/vqm1uhr.css");

body, .project-name, .project-tagline {
  font-family: source-sans-pro, sans-serif;
}

body, .project-tagline {
  font-weight: 300;
}

.page-header{
  color:#fff;
  text-align:center;
  background-color:#233a74;
  background-image:linear-gradient(120deg, #233a74 , #4D858D)}

footer.site-footer {
  text-align: center;

  a {
    display: inline;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14pt;    
  }
}

.main-content {

  padding:0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-width: 100%;
  font-size: 16pt;
  line-height: 1.6;
  h1, h2, h3, h4, h5, h6 {
    color: #233a74;
  }
  code, kbd { font-size: 0.95rem; white-space: pre;}
  pre{ code { font-size: 0.95rem;} }
}

.project-name {
  font-weight: bold;
}


ul, ol {
  margin-left: 20px;
}
details {
  margin-left: 35px;
  padding-bottom: 20px;

  summary:hover{
    color: grey;
  }

}

#main {
    padding-top: 20px;
}

.site-footer {
    padding:10px;
}

.lesson {
    font-size: 24px;
    
}

a {
    text-decoration: none;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  font-weight: 400;

  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  a.active {
    background-color: #4D858D;
    color: white;
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }

  a.icon {
    display: none;
  }

  a.logo{
    padding:0%;
    line-height: 0;
  }
  a.logo:hover{
    background-color: #333;
  }
}

[class^="icons"] {
  height: 53.59px;
  width: 53.59px;
  position: relative;
  // vertical-align: -5px;
}

.icons-logo {
  content: url('/favicon/android-chrome-256x256.png');
  /* display: inline-block; */
}

.subnav {
  float: left;
  overflow: flex;

  .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  // .subnav {
  .subnavbtn:hover {
    background-color: #ddd !important;
    color: black !important;
  }
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #4D858D;
  width: 100%;
  z-index: 1;

  a {
    float: left;
    color: white;
    text-decoration: none;
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }
}

@media screen and (max-width: 700px) {

  .topnav {
    a:not(:first-child) {display: none;}
    .subnav:not(:first-child) {display: none;}
    a.icon {
      float: right;
      display: block;
    }
  }

  .topnav.responsive {
    position: relative;
    overflow: visible;

    a, .subnav, .subnavbtn {
      float: none;
      display: block;
      text-align: left;
    }

    .subnavbtn {
      width: 100%;
    }
    
    .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  ul, ol {
    margin-left: 0px;
  }
  details {
    margin-left: 20px;
  }
    
}

.highlight{

  pre.highlight code { color: #ffffff !important } // basic text
  .highlight { background-color: #333}
  .n, .h, .nn{ color: #ffffff } /* Name,  Name.Namespace*/
  .c {color: grey;} // comment
  .k, .o, .ow, .kn {color: #de935f; font-weight: normal;} // keyword, operator, operator word, keyword namespace
  .ge { font-style: italic; color: #de935f } /* Generic.Emph */
  .gs { font-weight: bold; color: #d92727} /* Generic.Strong */
  .gh, .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
  .nv { color: rgb(53, 246, 53) } /* Name.Variable */
  .ld, .m, .s, .mf, .mh, .mi, .mo { color: #b5bd68 } // literal date, literal number, literal string, literal number float/hex/int/oct
  

}

.language-python.highlighter-rouge {
  a.nav-link.active {
    color: #b5bd68;
  }
}

.highlighter-rouge {

  .nav.nav-tabs {
    margin-left: 0;

  }

  a.nav-link.active {
    padding: 0.25rem 0.5rem;
    font-size: 14pt;
    color: white;
    background-color: #333;
  }
  a.nav-link.active:hover {
    text-decoration: none;
  }

}
 
// .highlight .c { color: #969896 } /* Comment */
.highlight .err { color: #cc6666 } /* Error */
// .highlight .k { color: #b294bb } /* Keyword */
.highlight .l { color: #de935f } /* Literal */

.highlight .p { color: #ffffff } /* Punctuation */
.highlight .cm { color: #969896 } /* Comment.Multiline */
.highlight .cp { color: #969896 } /* Comment.Preproc */
.highlight .c1 { color: #969896 } /* Comment.Single */
.highlight .cs { color: #969896 } /* Comment.Special */
.highlight .gd { color: #cc6666 } /* Generic.Deleted */


.highlight .gi { color: #b5bd68 } /* Generic.Inserted */
.highlight .gp { color: #969896; font-weight: bold } /* Generic.Prompt */
.highlight .kc { color: #b294bb } /* Keyword.Constant */
.highlight .kd { color: #b294bb } /* Keyword.Declaration */
// .highlight .kn { color: #8abeb7 } /* Keyword.Namespace */
.highlight .kp { color: #b294bb } /* Keyword.Pseudo */
.highlight .kr { color: #b294bb } /* Keyword.Reserved */
.highlight .kt { color: #f0c674 } /* Keyword.Type */
.highlight .ld { color: #b5bd68 } /* Literal.Date */
.highlight .m { color: #de935f } /* Literal.Number */
.highlight .s { color: #b5bd68 } /* Literal.String */
.highlight .na { color: #81a2be } /* Name.Attribute */
.highlight .nb { color: #ffffff } /* Name.Builtin */
.highlight .nc { color: #f0c674 } /* Name.Class */
.highlight .no { color: #cc6666 } /* Name.Constant */
.highlight .nd { color: #8abeb7 } /* Name.Decorator */
.highlight .ni { color: #ffffff } /* Name.Entity */
.highlight .ne { color: #cc6666 } /* Name.Exception */
.highlight .nf { color: #81a2be } /* Name.Function */
.highlight .nl { color: #ffffff } /* Name.Label */
// .highlight .nn { color: #f0c674 } /* Name.Namespace */
.highlight .nx { color: #81a2be } /* Name.Other */
.highlight .py { color: #ffffff } /* Name.Property */
.highlight .nt { color: #8abeb7 } /* Name.Tag */

.highlight .w { color: #ffffff } /* Text.Whitespace */
// .highlight .mf { color: #de935f } /* Literal.Number.Float */
// .highlight .mh { color: #de935f } /* Literal.Number.Hex */
// .highlight .mi { color: #de935f } /* Literal.Number.Integer */
// .highlight .mo { color: #de935f } /* Literal.Number.Oct */
.highlight .sb { color: #b5bd68 } /* Literal.String.Backtick */
.highlight .sc { color: #ffffff } /* Literal.String.Char */
.highlight .sd { color: #969896 } /* Literal.String.Doc */
.highlight .s2 { color: #b5bd68 } /* Literal.String.Double */
.highlight .se { color: #de935f } /* Literal.String.Escape */
.highlight .sh { color: #b5bd68 } /* Literal.String.Heredoc */
.highlight .si { color: #de935f } /* Literal.String.Interpol */
.highlight .sx { color: #b5bd68 } /* Literal.String.Other */
.highlight .sr { color: #b5bd68 } /* Literal.String.Regex */
.highlight .s1 { color: #b5bd68 } /* Literal.String.Single */
.highlight .ss { color: #b5bd68 } /* Literal.String.Symbol */
.highlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.highlight .vc { color: #cc6666 } /* Name.Variable.Class */
.highlight .vg { color: #cc6666 } /* Name.Variable.Global */
.highlight .vi { color: #cc6666 } /* Name.Variable.Instance */
.highlight .il { color: #de935f } /* Literal.Number.Integer.Long */