---
layout: default
---

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/python/">Python</a></li>
        <li><a href="/r/">R</a></li>
        <li><a href="/shell/">Unix Shell</a></li>
        <li><a href="/git/">Git</a></li>
    </ul>
</nav>

<div class="container" id="main">
    <div class="row container" id="mainrow">
        <div class="col-sm-12 col-md-11 col-lg-10 col-xxl-9 align-middle mx-auto d-block">
            {{ content }}
        </div>
    </div>

</div>

